.DS_Store
node_modules

# local env files
.env.local
.env.*.local
.env
.env/
venv/

# Log files
npm-debug.log*
*.log
output.log

# Editor directories and files
.vscode

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.idea/
